<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497735915945-6eddps1hdda10r02uv3rkisftvgaqp4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497735915945-6eddps1hdda10r02uv3rkisftvgaqp4l</string>
	<key>API_KEY</key>
	<string>AIzaSyB42ANPGq79wgP48XITmg4FJAT_C2Jg6mU</string>
	<key>GCM_SENDER_ID</key>
	<string>497735915945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YardSmart.YardSmart-Employee</string>
	<key>PROJECT_ID</key>
	<string>rlc-lmk</string>
	<key>STORAGE_BUCKET</key>
	<string>rlc-lmk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497735915945:ios:427e5e4f10d0f770eb0cb8</string>
	<key>DATABASE_URL</key>
	<string>https://rlc-lmk.firebaseio.com</string>
</dict>
</plist>